@model SalesStatistics.Models.Client
<br />
<div class="panel panel-default">
    <div class="panel-heading">Edit client</div>
    <div class="panel-body">
        @using (Html.BeginForm("EditClient", "Clients"))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.HiddenFor(model => model.Id)
            </div>
            <div class="form-group">
                <label>First name:</label>
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Last name:</label>
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
            <input class="btn btn-default" type="submit" value="Edit">
        }
        <br />
        <button class="btn btn-default" id="cancel">Cancel</button>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>
    $("#cancel").click(function () {
        $("#divEditClient").hide();
        $("#btn-group").show();
        $("#grid").show();
    });
</script>
