<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sales statistics</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/gridCss")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/gridmvc")
    @Scripts.Render("~/bundles/jqueryval")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <p class="navbar-brand">Sales statistics</p>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Sales", "Index", "Sales")</li>
                    <li>@Html.ActionLink("Managers", "Index", "Managers")</li>
                    <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
                    <li>@Html.ActionLink("Products", "Index", "Products")</li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Users", "Index", "Users")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Graphics", "Index", "Graphics")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
</body>
</html>