@model SalesStatistics.Models.Manager
<br/>
<div class="panel panel-default">
    <div class="panel-heading">Edit manager</div>
    <div class="panel-body">
        @using (Html.BeginForm("EditManager", "Managers"))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.HiddenFor(model => model.Id)
            </div>
            <div class="form-group">
                <label>Manager:</label>
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
            <input class="btn btn-default" type="submit" value="Edit">
        }
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")

